body {
  background: black;
  color: white;
}

/* This selects any .post which has a .post as its previous sibling. */
.post + .post {
  margin-top: 2em;   /* Put space between successive posts. */
}

.post-replies > .post {
  margin-top: 0.5em;
}

.post-replies {
  padding-left: 2em;
}

.post-author {
  color: darkgray;
}

.post-author:before {
  content: '—';
}