html, body {
  background: black;
  color: white;
  margin: 0; margin-top: 12pt;
}

.posts, body > .post {
  display: table;
  margin-left: auto; margin-right: auto;
}

.post {
  max-width: 26em;
}

/* This selects any .post which has a .post as its previous sibling. */
.post + .post {
  margin-top: 2em;   /* Put space between successive posts. */
}

.post-replies > .post {
  margin-top: 0.5em;
}

.post-replies {
  padding-left: 2em;
}

.post-author {
  color: darkgray;
}

.post-author:before {
  content: '—';
}

.edit-post {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}

.edit-post-content {
  margin: 0; border: 0; padding: 0.5em;
  outline: none;
  width: 98%;
  width: calc(100% - 1em);
  height: 1em;
}

.edit-post-toolbar {
  display: flex;
  justify-content: flex-end;
}

.edit-post-toolbar > input + input {
  margin-left: 0.5em;
}

input[type=submit] {
  border: none;
  -webkit-appearance: none;

  background: none;
  color: white;
}

input[type=submit]:hover, input[type=submit]:focus {
  background: red;
  outline: none;
}

input, textarea {
  background: #222;
  color: white;
  border: 0;
  padding: 0.5em;
  outline: none;
}

input:focus {
  outline: none;
}

label {
  font-size: 8pt;
}

.menu-bar {
  position: fixed;
  background: #202;
  top: 0; right: 0; left: 0;
  padding: 0.5em;

  display: block;
  font-size: 0;
  z-index: 1000;
}

.user-menu {
  text-align: right;
}