<form class=edit-post method=post action='/posts/<%= post.try(:id) %>'>
  <% if post %>
    <input type=hidden name=_method value=put>
  <% end %>
  <% if parent %>
    <input type=hidden name=parent_id value='<%= parent.id %>'>
  <% end %>
  <textarea
    class=edit-post-content
    name=content
    <% if parent %>
      placeholder='reply'
    <% else %>
      placeholder='tell me your foolish lies'
    <% end %>
  ><%= post.try(:content) %></textarea>
  <input type=submit class=edit-post-submit value=save>
</form>