<div class=post>
  <div class=post-content>
    <%= post.content %>
  </div>
  <%= erb(:'users/cite', locals: {user: post.user, cssClass: 'post-author'}) %>
  <div class=post-replies>
    <% post.children.order(:created_at).each do |post| %>
      <%= erb(:'posts/post', locals: {post: post}) %>
    <% end %>
    <% if current_user %>
      <%= erb(:'posts/edit', locals: {parent: post, post: nil}) %>
    <% end %>
  </div>
</div>
