<!doctype html>
<html>
  <head>
    <title>bizarre bazaar: <% category.title %></title>
  </head>
  <body>
    <ul>
      <% category.things.each do |thing| %>
        <li><a href="/things/<%= thing.id %>"><%= thing.title %></a></li>
      <% end %>
    </ul>
  </body>
</html>
